doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Our Services - The Space Planner
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet" href="assests/css/styles.css")
  body
    header
      .logo
        img(src="assests/img/logo.png", alt="Company Logo")
      h1.header-title The Space Planner
      nav
        ul
        a(href="/index") Home
          a(href="/register") Register
          a(href="/login") Login
          a(href="/about") About Us
          a(href="/contact") Contact
    main
      .auth-container
        h2 Register
        form#register-form
          label(for="first-name") First Name:
          input(type="text", id="first-name", required, placeholder="Enter your first name")
          
          label(for="last-name") Last Name:
          input(type="text", id="last-name", required, placeholder="Enter your last name")

          label(for="register-email") Email:
          input(type="email", id="register-email", required, placeholder="Enter your email")

          label(for="register-phone") Phone:
          input(type="tel", id="register-phone", required, placeholder="Enter your phone number")

          label(for="register-password") Password:
          input(type="password", id="register-password", required, placeholder="Create a password")
          
          .checkbox-container
            input(type="checkbox", id="terms", name="terms")
            label(for="terms") I accept the 
              a(href="#") terms and conditions.
          
          .button-container
            button(type="submit") Register
            button(type="reset") Reset

    script(src="assests/js/newscript.js")

    footer
      .footer-container
        // Column 1: Quick Links
        .footer-column
          h3 Quick Links
          ul
           a(href="/index") Home
          a(href="/register") Register
          a(href="/login") Login
          a(href="/about") About Us
          a(href="/contact") Contact

        // Column 2: Social Media Links
        .footer-column
          h3 Follow Us
          .social-icons
            a(href="#")
              i.fab.fa-facebook
            a(href="#")
              i.fab.fa-twitter
            a(href="#")
              i.fab.fa-instagram

        // Column 3: Newsletter Subscription
        .footer-column.newsletter
          h3 Subscribe to Our Newsletter
          p Get the latest deals and offers directly in your inbox!
          form(action="subscription.html", method="get")
            input(type="email", name="email", placeholder="Enter your email", required)
            button(type="submit") Subscribe

      .copyright
        p &copy; 2024 The Space Planner. All rights reserved.

    script(src="assests/js/script.js")
